/*jumbotron*/

.jumbotron {
	height: 250px;
	background-size: 90%;
	background-repeat: repeat;
	background-position: center;
}

.jumbotron a {
	color: #fff;
	text-decoration: underline;
	text-align: center;
	margin-bottom: 85px;
	font-weight: 500;
	position: absolute;
	top: 220px;
	left: 0;
	right: 0;
}

.jumbotron .logo {
	height: 90px;
	background-position: center;
}